<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="DENY" />
                <add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'none'; form-action 'none'; font-src 'self' data:; connect-src http://10.70.38.103:8011/ http://10.70.38.103:8010/; style-src 'self'" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
