<section class="import-word router-outlet-content">
	<div class="success">
		<img class="img-success" src="/assets/images/tick_success.png" alt="success-pic">
		<span>Import thành công</span>
	</div>
	<div class="row admin" >
		<div class="col-md-12 col-12 page-header">
			<!-- <img src="/assets/images/back-black.png" alt="back" class="btn-back" (click)="onBack()" *ngIf="enabledImportWordFlg"> -->
			<div class="page-name">{{pageName}}</div>
			<hr>
		</div>
	</div>

	<!-- <div class="row">
		<div class="col-md-9 col-12" *ngIf="!enabledImportWordFlg">
			<div class="group">
				<div [ngClass]="group-search ">
					<div [ngClass]="'control'" class="row import-action">

						<div class="col-md-6 col-12">
							<div [ngClass]="'control control-search'">
								<label>
									<span [textContent]="'SearchText' | translate"></span>
								</label>
								<input kendoTextBox class="search-place" [(ngModel)]="searchOption.SearchText"
									[placeholder]="'Seacrh_Place_hoder_Input'|translate" (keypress)="onSearchKeyPress($event)"
									(filterChange)="AccountHandleFilter($event)" />
								<button kendoButton (click)="onRemoveSearchText();" [primary]="true" [look]="'outline'"
									[icon]="'close-outline'" class="btn-remove btn-remove-replace-btn-search"
									*ngIf="searchOption.SearchText !== ''">
								</button>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div [ngClass]="'control control-unit'">
								<label>
									<span [textContent]="'Unit' | translate"></span>
								</label>
								<kendo-combobox class="search-place" [data]="unitFilter" [textField]="'Name'" [valueField]="'ID'"
									[(ngModel)]="searchOption.unitID" [valuePrimitive]="true" [filterable]="true"
									(filterChange)="unitHandleFilter($event)" (valueChange)="onChangeYear($event)">
									<ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
								</kendo-combobox>
							</div>
						</div>
						<div class="col-md-2 col-12 search-btn">
							<div class="btn-dialog-wrapper" *ngIf="!enabledImportWordFlg">
								<button (click)="onSearch()"
									class="btn-dialog-cus btn-dialog btn-search">
									<span>{{ 'Search' | translate }}</span>
								</button>
							</div>
						</div>
						<div class="col-md-2 col-12 import-btn">
							<div class="btn-dialog-import-wrapper">
								<button (click)="showAdvancedImportWord()"
									class="btn-dialog-cus btn-dialog btn-import">
									<span>{{ 'ImportWord_Block' | translate }}</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="row body-import">
		<div class="col-md-12 col-12" *ngIf="!fileDataImport">
			<div [ngClass]="'control'">
				<label>
					<span [textContent]="'FileWordUploadLaw' | translate"></span>
				</label>
				<kendo-upload (select)="onSelectEventHandler($event)" [multiple]="false" [showFileList]="false"
					[saveUrl]="fileSaveUrl" [accept]="['.doc','.docx']">
					<kendo-upload-messages [headerStatusUploaded]="'FileUploadPersonalDone' | translate"
						[dropFilesHere]="'dropFilesHere' | translate" [select]="'UploadFile' | translate">
					</kendo-upload-messages>
				</kendo-upload>
			</div>
		</div>
		<div class="col-md-12 col-12 import-success" *ngIf="fileDataImport != null">
			<input class="input-law-name" type="text" placeholder="Nhập tên văn bản luật" [(ngModel)]="nameLaw">
			<button class="btn-dialog btn-save-word"
				(click)="onSaveLaw()">
				<span>{{'Save' | translate}}</span>
			</button>
		</div>
	</div>

	<div class="panelbar-wrapper">
		<div class="col-md-12 col-12 content">
			<div class="file-content" [innerHTML]="fileDataImport"></div>
		</div>
	</div>
</section>
