.import-word {
    .row {
        flex-wrap: nowrap !important;
    }

    .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-dialog-wrapper {
        margin-top: 15px;
    }

    .btn-dialog-cus {
        padding: 5px 16px;
        border-radius: 10px;
        background-color: #84c0f7;
        text-align: center;

        &:hover {
            background-color: #b6dafa;
        }
    }

    .success {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -22px;
        color: #00BA00;
        background-color: #b6efb9;
        margin-left: -14px;
        margin-right: -15px;
        font-size: 15px;
        font-weight: bold;
        padding: 4px;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .img-success {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }

    .import-btn {
        padding-left: 0px;
        padding-right: 0px;
    }

    .btn-import {
        width: 120%;
        padding: 5px 16px;
        border-radius: 10px;
        background-color: #f2e280;
        text-align: center;

        &:hover {
            background-color: #fff4b4;
        }
    }

    .btn-dialog-import-wrapper {
        margin-top: 23px;
    }

    .body-import {
        display: flex;
        flex-direction: column;

        .import-success {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 16px;
        }

        .btn-save-word {
            padding: 5px 40px;
            border-radius: 6px;
            background-color: #f2e280;
            text-align: center;

            &:hover {
                background-color: #fff4b4;
            }
        }
    }

    .content {
        padding-left: 0;
        padding-right: 0;

        .file-content {
            background-color: white;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
}