<section class="router-outlet-content">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="page-name">Danh sách Mục</div>
      <hr>
    </div>
    <div class="col-md-12 col-12 btn-container">
      <button class="btn-addnew" (click)="openAddDialog()">
        <span>{{ 'Thêm mới' }}</span>
      </button>
    </div>

    <div class="col-md-6 col-12 container-datagrid">
      <div>Luật</div>
      <kendo-combobox class="cbx-searchOption" [data]="LawFilter" [textField]="'Content'" [valueField]="'LuatUUID'"
        [popupSettings]="{animate: true, appendTo: 'component'}" [placeholder]="'Chọn nội dung tìm kiếm'"
        [(ngModel)]="searchOption.LuatUUID" [valuePrimitive]="true" [filterable]="true"
        (filterChange)="LawHandleFilter($event)" (valueChange)="onSearchChange()">
        <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
      </kendo-combobox>
    </div>

    <div class="col-md-6 col-12 container-datagrid">
      <div>Chương</div>
      <kendo-combobox class="cbx-searchOption" [data]="ChapterFilter" [textField]="'Content'" [valueField]="'ChuongUUID'"
        [popupSettings]="{animate: true, appendTo: 'component'}" [placeholder]="'Chọn nội dung tìm kiếm'"
        [(ngModel)]="searchOption.ChuongUUID" [valuePrimitive]="true" [filterable]="true"
        (filterChange)="ChapterHandleFilter($event)" (valueChange)="onSearchChange()">
        <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
      </kendo-combobox>
    </div>

    <div class="col-md-12 col-12 container-datagrid">
      <kendo-grid [data]="dataGridGridDataResult" [selectable]="dataGridSelectableSettings"
        (pageChange)="onUserPageChange($event)" [pageSize]="dataGridPageSize" [skip]="dataGridSkip" [pageable]="true"
        [kendoGridSelectBy]="'ID'" [loading]="loading" [sortable]="dataGridSort" [sort]="dataGridSortByField"
        (sortChange)="onUserSortChange($event)" [filter]="dataGridState.filter" [filterable]="true"
        (dataStateChange)="onGridDataStateChange($event)">

        <!-- Cột chức năng (Edit/Delete) -->
        <kendo-grid-column [title]="'Thao tác' " [width]="80" [headerClass]="{'headerCommon': true}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group mr-2 g-btn g-btn-edit" role="group">
                <button kendoGridRemoveCommand (click)="openUpdateDialog(dataItem.ID)"
                  [iconClass]="'fa fa-eye'">
                </button>
              </div>
              <div class="btn-group mr-2 g-btn g-btn-delete" role="group">
                <button kendoGridRemoveCommand [iconClass]="'fa fa-trash'" (click)="onDeleteItem(dataItem.ID)">
                </button>
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column [field]="'LuatContent'" [width]="120" [title]="'Luật'"></kendo-grid-column>

        <kendo-grid-column [field]="'ChuongContent'" [width]="200" [title]="'Chương'"></kendo-grid-column>

        <kendo-grid-column [field]="'Content'" [width]="400" [title]="'Mục'"> </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</section>


<kendo-dialog *ngIf="DialogDetail" [title]="dataDetailItem.ID == null ? 'Thêm mới' : (isDetail ? 'Chi tiết' : 'Chỉnh sửa')" (close)="onCloseDialog()">
  <div class="row">

    <div class="col-md-12 col-12">
      <div class="control">
        <label>
          <span [textContent]="'Luật'"></span>
        </label>
        <input *ngIf="dataDetailItem.ID != null" kendoTextBox [(ngModel)]="dataDetailItemtemp.LawName" [disabled]="!(dataDetailItem.ID == null || !isDetail)" />

        <kendo-combobox *ngIf="dataDetailItem.ID == null" [data]="LawFilter" [textField]="'Content'" [valueField]="'LuatUUID'" [popupSettings]="{animate: true, appendTo: 'component'}"
          [(ngModel)]="dataDetailItemtemp.LuatUUID" [valuePrimitive]="true" [filterable]="true"
          (filterChange)="LawHandleFilter($event)">
          <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
        </kendo-combobox>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="control">
        <label>
          <span [textContent]="'Chương'"></span>
        </label>
        <textarea *ngIf="dataDetailItem.ChuongUUID != null" kendoTextArea [(ngModel)]="dataDetailItemtemp.ChuongContent" 
          [disabled]="!(dataDetailItem.MucUUID == null || !isDetail)" [rows]="3"></textarea>

        <kendo-combobox *ngIf="dataDetailItem.ChuongUUID == null" [data]="ChapterFilter" [textField]="'Content'" [valueField]="'ChuongUUID'" [popupSettings]="{animate: true, appendTo: 'component'}"
          [(ngModel)]="dataDetailItemtemp.ChuongUUID" [valuePrimitive]="true" [filterable]="true"
          (filterChange)="ChapterHandleFilter($event)">
          <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
        </kendo-combobox>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="control">
        <label>
          <span [textContent]="'Nội dung Mục'"></span>
        </label>
        <textarea kendoTextArea [(ngModel)]="dataDetailItemtemp.Content" [disabled]="!(dataDetailItem.MucUUID == null || !isDetail)" [rows]="4"></textarea>      
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="btn-dialog-wrapper btn-container">
        <button *ngIf="dataDetailItem.MucUUID == null" class="btn-dialog btn-save" (click)="onAddItem()">
          {{'Tạo mới'}}
        </button>

        <button *ngIf="dataDetailItem.MucUUID != null && isDetail" class="btn-dialog btn-edit" (click)="onEdit()">
          {{'Sửa'}}
        </button>

        <button *ngIf="!isDetail" class="btn-dialog btn-cancel mr-2" (click)="onCancelEditing()">
          {{'Hủy'}}
        </button>

        <button *ngIf="!isDetail" class="btn-dialog btn-save" (click)="onUpdateItem()">
          {{'Lưu'}}
        </button>

      </div>
    </div>

  </div>
</kendo-dialog>
