<section class="router-outlet-content">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="page-name">Danh sách Khoản</div>
      <hr>
    </div>
    <div class="col-md-12 col-12">
      <button class="btn-addnew" (click)="openAddDialog()">
        <span>{{ 'Thêm mới' }}</span>
      </button>
    </div>

    <div class="col-md-3 col-12 container-datagrid">
      <div>Luật</div>
      <kendo-combobox class="cbx-searchOption" [data]="LawFilter" [textField]="'Content'" [valueField]="'LuatUUID'"
        [popupSettings]="{animate: true, appendTo: 'component'}"
        [(ngModel)]="searchOption.LuatUUID" [valuePrimitive]="true" [filterable]="true"
        (filterChange)="LawHandleFilter($event)" (valueChange)="onSearchChange()">
        <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
      </kendo-combobox>
    </div>

    <div class="col-md-3 col-12 container-datagrid">
      <div>Chương</div>
      <kendo-combobox class="cbx-searchOption" [data]="ChapterFilter" [textField]="'Content'" [valueField]="'ChuongUUID'"
        [popupSettings]="{animate: true, appendTo: 'component'}"
        [(ngModel)]="searchOption.ChuongUUID" [valuePrimitive]="true" [filterable]="true"
        (filterChange)="ChapterHandleFilter($event)" (valueChange)="onSearchChange()">
        <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
      </kendo-combobox>
    </div>

    <div class="col-md-3 col-12 container-datagrid">
      <div>Mục</div>
      <kendo-combobox class="cbx-searchOption" [data]="ChapterItemFilter" [textField]="'Content'" [valueField]="'MucUUID'"
        [popupSettings]="{animate: true, appendTo: 'component'}"
        [(ngModel)]="searchOption.MucUUID" [valuePrimitive]="true" [filterable]="true"
        (filterChange)="ChapterItemHandleFilter($event)" (valueChange)="onSearchChange()">
        <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
      </kendo-combobox>
    </div>

    <div class="col-md-3 col-12 container-datagrid">
      <div>Điều</div>
      <kendo-combobox class="cbx-searchOption" [data]="ArticalFilter" [textField]="'Content'" [valueField]="'DieuUUID'"
        [popupSettings]="{animate: true, appendTo: 'component'}"
        [(ngModel)]="searchOption.DieuUUID" [valuePrimitive]="true" [filterable]="true"
        (filterChange)="ChapterItemHandleFilter($event)" (valueChange)="onSearchChange()">
        <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
      </kendo-combobox>
    </div>

    <div class="col-md-12 col-12 container-datagrid">
      <kendo-grid [data]="dataGridGridDataResult" [selectable]="dataGridSelectableSettings"
        (pageChange)="onUserPageChange($event)" [pageSize]="dataGridPageSize" [skip]="dataGridSkip" [pageable]="true"
        [kendoGridSelectBy]="'ID'" [loading]="loading" [sortable]="dataGridSort" [sort]="dataGridSortByField"
        (sortChange)="onUserSortChange($event)" [filter]="dataGridState.filter" [filterable]="true"
        (dataStateChange)="onGridDataStateChange($event)">

        <kendo-grid-column [title]="'Thao tác' " [width]="80" [headerClass]="{'headerCommon': true}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group mr-2 g-btn g-btn-edit" role="group">
                <button kendoGridRemoveCommand (click)="openUpdateDialog(dataItem.ID)"
                  [iconClass]="'fa fa-window-restore'">
                </button>
              </div>
              <div class="btn-group mr-2 g-btn g-btn-delete" role="group">
                <button kendoGridRemoveCommand [iconClass]="'fa fa-ban'" (click)="onDeleteItem(dataItem.ID)">
                </button>
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [field]="'LuatContent'" [width]="120" [title]="'Luật'"></kendo-grid-column>

        <kendo-grid-column [field]="'ChuongContent'" [width]="250" [title]="'Chương'"></kendo-grid-column>

        <kendo-grid-column [field]="'MucContent'" [width]="200" [title]="'Mục'"></kendo-grid-column>

        <kendo-grid-column [field]="'DieuContent'" [width]="200" [title]="'Điều'"></kendo-grid-column>

        <kendo-grid-column [field]="'Content'" [width]="800" [title]="'Khoản'"></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</section>


<kendo-dialog *ngIf="DialogDetail" title="Chi tiết" (close)="onCloseDialog()">
  <div class="row">

    <div class="col-md-12 col-12">
      <div class="control">
        <label>
          <span [textContent]="'LawID'"></span>
        </label>
        <kendo-combobox [data]="LawFilter" [textField]="'Name'" [valueField]="'ID'" [popupSettings]="{animate: true, appendTo: 'component'}"
          [(ngModel)]="dataDetailItemtemp.LawID" [valuePrimitive]="true" [filterable]="true"
          (filterChange)="LawHandleFilter($event)" (valueChange)="onLawDetailChange()" >
          <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
        </kendo-combobox>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="control">
        <label>
          <span [textContent]="'ChapterID'"></span>
        </label>
        <kendo-combobox [data]="ChapterFilter" [textField]="'Name'" [valueField]="'ID'" [popupSettings]="{animate: true, appendTo: 'component'}"
          [(ngModel)]="dataDetailItemtemp.ChapterID" [valuePrimitive]="true" [filterable]="true"
          (filterChange)="ChapterHandleFilter($event)" (valueChange)="onLawDetailChange()">
          <ng-template kendoDropDownListNoDataTemplate>{{'NoRecords' | translate}}</ng-template>
        </kendo-combobox>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="control">
        <label>
          <span [textContent]="'Name'"></span>
        </label>
        <textarea kendoTextArea [(ngModel)]="dataDetailItemtemp.Name" [rows]="3"></textarea>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="control">
        <label>
          <span [textContent]="'Title'"></span>
        </label>
        <textarea kendoTextArea [(ngModel)]="dataDetailItemtemp.Title" [rows]="15"></textarea>
      </div>
    </div>


    <div class="col-md-12 col-12">
      <div class="btn-dialog-wrapper">
        <button *ngIf="dataDetailItem.ID == null" class="btn-dialog btn-save" (click)="onAddItem()">
          {{'Tạo mới'}}
        </button>
        <button *ngIf="dataDetailItem.ID != null" class="btn-dialog btn-save" (click)="onUpdateItem()">{{'Lưu'}}
        </button>
      </div>
    </div>

  </div>
</kendo-dialog>