:host ::ng-deep .role.x-dialog {
    max-width: 768px;
    max-height: 320px;
}

@media (max-width: 600px) {
    :host ::ng-deep .role .k-window {
        width: 90%;
        height: 90%;
    }
    :host ::ng-deep .role.x-dialog {
        max-width: 768px;
        max-height: none;
    }
}

.role .custom-btn-addNew {
    margin-top: 10px !important;
}

.role .btn-addNew {
    text-align: right;
    display: inherit; 
    margin-right: 15px;
    margin-bottom: 5px;
}