html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Roboto', sans-serif;
}


.max-width-content {
    max-width: 999px;
    display: block;
    margin: 0 auto;
}

.text-style-1 {
    font-size: 16pt;
    font-weight: bold;
}

.text-style-2 {
    font-size: 12pt;
    font-weight: bold;
}

.text-style-3 {
    font-size: 10pt;
    font-weight: bold;
}

.text-style-4 {
    font-size: 9pt;
    font-weight: normal;
}

input[type=text], select, textarea {
    padding: 0 6px;
    font-size: 12px;
    height: 32px;
    line-height: 1.5em;
    border: 1px solid #A7A6AB;
    box-shadow: inset 0 2px 2px #F9F9FB, 0 0 0 #62aef7;
   /* border-radius: 10px*/
}

    input[type=text].hasicon {
        padding-right: 40px;
    }

        input[type=text].hasicon + .fas {
            padding-right: 18px;
            margin-left: -30px;
        }

input[type=button]:not(.ImageIcon):not(#btnAbort):not(button100):not(.button150), .button-light, .button-dark {
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s ease 0s;
    user-select: none;
    cursor: pointer;

    border: 1px solid transparent;
    color: #fff;
    font-size: 12pt;
    font-weight: 400;
    outline: none;
    overflow: hidden;
    padding: .375rem .75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    border-radius: .25rem;
    line-height: 1.5;
}

    input[type=button].button-dark, div.button-dark {
        background: #14417e;
        color: #fff;
        border: 1px solid #14417e;
    }

    input[type=button].button-light, div.button-light {
        background: #fff;
        color: #14417e;
        border: 1px solid #14417e;
    }

    input[type=button].button-dark:hover, div.button-dark:hover {
        background: #8baad4;
        color: #fff;
    }

    input[type=button].button-light:hover, div.button-light:hover {
        background: #ddecff;
        color: #14417e;
    }


    .button-light i, .button-dark i {
        font-size: 25px;
        vertical-align: text-bottom;
        margin-right: 10px;
    }



/*checkbox*/
/*****************************************************************************************/

/* The container */
.checkbox-default {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .checkbox-default input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkbox-default .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 10px
    }

    /* On mouse-over, add a grey background color */
    .checkbox-default:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-default input:checked ~ .checkmark {
        /*background-color: #14417e;*/
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkbox-default .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-default input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-default .checkmark:after {
        left: 7px;
        top: 5px;
        width: 5px;
        height: 5px;
        border: solid #14417e;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

/*radio*/
/*****************************************************************************************/
/* The container */
.radio-default {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .radio-default input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .radio-default .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .radio-default:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .radio-default input:checked ~ .checkmark {
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .radio-default .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radio-default input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radio-default .checkmark:after {
        top: 6px;
        left: 6px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #14417e;
    }


.div-row > div {
    display: inline-block;
    vertical-align: middle
}


.select-form-default > div {
    padding: 5px 0
}

    .select-form-default > div:nth-child(2) > div {
        border-bottom: 1px solid #eee;
        padding: 5px 0
    }
/*Popup*/

.ProcessingIcon {
    position: fixed;
    z-index: 115;
    background-color: rgba(255, 255, 255, 0.72);
    display: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

    .ProcessingIcon p {
        margin: 10px;
        cursor:pointer
    }
    .ProcessingIcon p:hover {
        color:#65a1ec
    }

.clsPopupBG_Processing {
    z-index: 114;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(225, 225, 225, 0.37);
    display: none;
}

/*popup*/
.clsClosePopup, .clsClosePopup2, .clsClosePopup_Html, .clsClosePopup_Message {
    top: 2px;
    right: 3px;
    position: absolute;
   padding:15px;
   cursor:pointer;
   display:none
}
    .clsClosePopup i, .clsClosePopup2 i, .clsClosePopup_Html i, .clsClosePopup_Message i {
        font-size: 25px;
        color: #14417e;
    }

.clsPopupPannel > h1, .clsPopupPannel2 > h1, .clsPopupPannel_Html > h1, .clsPopupTootip > h1 {
    /* border-radius: 5px 5px 0 0; */
    padding: 20px 20px 20px 20px;
    /* padding-right: 60px; */
    /* text-shadow: 0 1px 1px #fff; */
    background: #f7f7f7;
    color: #14417e;
    font-weight: bold;
    /* border-bottom: #ddd 1px solid; */
    /* border-top: #ddd 1px solid; */
    font-size: 15px;
   
}
.clsPopupPannel > h1 img, .clsPopupPannel2 > h1 img, .clsPopupPannel_Html > h1 img, .clsPopupTootip > h1 img{
    height:30px
}

.clsPopupPannel_Message {
    z-index: 108 !important;
}
.clsPopupPannel, .clsPopupPannel_Html, .clsPopupPannel_Message {
    z-index: 106;
}
.clsPopupPannel2 {
    z-index: 108;
}
.clsPopupPannel, .clsPopupPannel2, .clsPopupPannel_Html, .clsPopupPannel_Message {
    position: fixed;
    background-color: #fff;
    max-width: 99%;
    max-height: 99%;
    min-width:500px;
    display: none;
   
}

    .clsPopupPannel > div, .clsPopupPannel2 > div, .clsPopupPannel_Html > div, .clsPopupPannel_Message > div {
        /*overflow: auto;*/
        max-height: 100%;
        max-width: 100%;
        width: auto;
        /*min-width: 300px;*/
        text-align: center;
        padding: 0px 20px 20px 20px;
    }

.clsPopupPannel_Html {
    display: none;
}

.clsPopupBG_Message {
    z-index: 107 !important;
}
.clsPopupBG, .clsPopupBG_Message {
    z-index: 102;
}
.clsPopupBG2 {
    z-index: 107;
}
    .clsPopupBG, .clsPopupBG2, .clsPopupBG_Message {   
    position: fixed;
    top: 0;
    left: 0;
        background-color: rgb(141 136 136 / 28%);   
  
    display: none;
}

/*Popup content*/
.clsPopupContentDefault {
    margin: 0 auto;
    text-align: left;
    min-width:200px;
    width:95%
}

    .clsPopupContentDefault td {
        
        vertical-align: top;
    }

    .clsPopupContentDefault input, .clsPopupContentDefault select, .clsPopupContentDefault textarea {
        
    }
    .clsPopupContentDefault .clsDefTextBox{
        width:calc(100% - 25px);
    }

div.pvv-localdatetime table{
    width:100%;
}
div.pvv-localdatetime tr {
    width: 100%;
}
div.pvv-localdatetime tr:first-child td {
    padding:0px 10px 0px 10px !important;
}
div.pvv-localdatetime table tr td:first-child {
    text-align:left;
    
}
    div.pvv-localdatetime table tr td:last-child {
        text-align: right;
    }

input[type=checkbox], input[type=radio], input[type=button]:not(.ImageIcon):not(#btnAbort):not(button100):not(.button150), input[type=submit]:not(button100):not(.button150) {
    width: auto;
}

.popup-content-button {
    padding-top:20px
}
.popup-logo {
position:absolute;
padding:15px !important
}
.popup-logo img {
    height: 27px;
    text-align: left
}
/* Portrait */
@media screen and (orientation: portrait) {
    .clsPopupPannel, .clsPopupPannel2, .clsPopupPannel_Html, .clsPopupPannel_Message {        
        max-width: 100%;
        max-height: 100%;
        width:100%;
        height:100%;
        min-width:inherit
    }
    .popup-content-button {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 20px 0;
    }
}
.button100 {
    background-color: #0c547a;
    border: 0px;
    color: White;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
    font-size: 10pt;
    margin: 1px;
    padding: 4px 7px;
    outline: none;
    user-select: none;
}

    .button100:hover:enabled {
        background-color: rgba(12, 84, 122, 0.7);
    }

    .button100:disabled {
        background-color: #d4d4d4;
        color: #888;
        cursor: default
    }

    .button100:active {
        position: relative;
    }



    .button100::first-letter {
        text-transform: uppercase
    }

    .button100::first-letter {
        text-transform: capitalize;
    }


