<div class="login">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../assets/images/law_login.png" alt="IMG">
					<!-- <img src="../../assets/images/VNLOGO.png" alt="IMG"> -->
				</div>

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Đăng nhập
					</span>

					<div class="wrap-input100 validate-input" >
						<input class="input100" [(ngModel)]="loginInfo.UserName" type="text" name="username" placeholder="Tài khoản">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" [(ngModel)]="loginInfo.Password" type="password" name="pass" placeholder="Mật khẩu">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="onLogin()">
							Đăng nhập
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>


