<section class="router-outlet-content">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="page-name">Danh sách Luật</div>
      <hr>
    </div>
    <div class="col-md-12 col-12 btn-container">
      <!-- <button class="btn-addnew" (click)="openAddDialog()">
        <span>{{ 'Thêm mới' }}</span>
      </button> -->
    </div>
    <div class="col-md-12 col-12 container-datagrid">
      <kendo-grid [data]="dataGridGridDataResult" [selectable]="dataGridSelectableSettings"
        (pageChange)="onUserPageChange($event)" [pageSize]="dataGridPageSize" [skip]="dataGridSkip" [pageable]="true"
        [kendoGridSelectBy]="'ID'" [loading]="loading" [sortable]="dataGridSort" [sort]="dataGridSortByField"
        (sortChange)="onUserSortChange($event)" [filter]="dataGridState.filter" [filterable]="true" [resizable]="true"
        (dataStateChange)="onGridDataStateChange($event)">

         <!-- Cột chức năng (Edit/Delete) -->
        <kendo-grid-column [title]="'Thao tác' " [width]="60" [headerClass]="{'headerCommon': true}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group mr-2 g-btn g-btn-edit" role="group">
                <button kendoGridRemoveCommand (click)="openUpdateDialog(dataItem.ID)"
                  [iconClass]="'fa fa-eye'">
                </button>
              </div>
              <div class="btn-group mr-2 g-btn g-btn-delete" role="group">
                <button kendoGridRemoveCommand [iconClass]="'fa fa-trash'" (click)="onDeleteItem(dataItem.ID)">
                </button>
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [field]="'Content'" [width]="150" [title]="'Luật'"></kendo-grid-column>
        <kendo-grid-column [field]="'LawDate'" [width]="90" [title]="'Ngày'"></kendo-grid-column>
        <kendo-grid-column [field]="'LawNumber'" [width]="90" [title]="'Bộ Luật Số'"> </kendo-grid-column>
        <kendo-grid-column [field]="'TotalChapter'" [width]="90" [title]="'Tổng Số Chương'"> </kendo-grid-column>
        <kendo-grid-column [field]="'Status'" [width]="90" [title]="'Trạng Thái'"> </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</section>


<kendo-dialog class="kendo-law" *ngIf="DialogDetail" title="Chi tiết" (close)="onCloseDialog()">
  <div class="row content">
    <div class="law-html-content" [innerHTML]="dataDetailItemtemp.ContentHTML"></div>
  </div>
</kendo-dialog>
